*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
:before,
:after {
  --tw-content: "";
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
  font-family: "Kranky", serif;
  background-color: #000000;
  color: #fff;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.container {
  margin: auto;
  position: relative;
  z-index: 1;
  background-color: #000;
}

.banner {
  padding-top: 17px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo__img {
  width: 140px;
}

.title {
  font-size: 90px;
  background: linear-gradient(
    to right,
    #d61f1f,
    #f18711,
    #ffd707,
    #27e53a,
    #1adfec,
    #2034e7,
    #6a2feb,
    #d528f1
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wallet {
  color: #fff;
  position: relative;
  padding: 2rem;
  background: #000;
  background-clip: padding-box;
  border: solid 5px transparent;
  max-width: 736px;
  margin: auto;
}
.wallet:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10px;
  border-radius: inherit;
  background: linear-gradient(
    to bottom,
    #d61f1f,
    #f18711,
    #ffd707,
    #27e53a,
    #1adfec,
    #2034e7,
    #6a2feb,
    #d528f1
  );
}

.input-holder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-direction: column;
}

.text {
  font-size: 30px;
}

.input {
  position: relative;
  max-width: 500px;
  width: 100%;
  height: 100px;
  color: #fff;
  background: #000;
  display: flex;
  margin-bottom: 30px;
  background-clip: padding-box;
  /* border: solid 5px transparent; */
}

input {
  /* color: #000; */
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  outline: none;
  padding: 10px 20px;
  font-size: 25px;
}

input::placeholder {
  text-align: center;
  border-bottom: 2px solid #fff;
}

.gradient {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: -10px;
  border-radius: inherit;
  background: linear-gradient(
    to bottom,
    #d61f1f,
    #f18711,
    #ffd707,
    #27e53a,
    #1adfec,
    #2034e7,
    #6a2feb,
    #d528f1
  );
}

h2 {
  font-size: 62px;
  text-align: center;
  margin-bottom: 63px;
}

.cont {
  padding-bottom: 120px;
  position: relative;
}

.img {
  position: absolute;
}

.img1 {
  top: 0;
  left: 10%;
}

.img2 {
  top: 2%;
  left: 3%;
}

.img3 {
  top: 15%;
  left: 10%;
}

.img4 {
  top: 25%;
  left: 15%;
}

.img5 {
  top: 25%;
  left: 90%;
}

.img6 {
  top: 35%;
  left: 85%;
}

.img7 {
  top: 25%;
  left: 5%;
}

.img8 {
  top: 25%;
  left: 15%;
}

.img9 {
  top: 5%;
  left: 85%;
}

.img10 {
  top: 3%;
  left: 77%;
}

.img11 {
  top: 5%;
  left: 85%;
}

.img12 {
  top: 3%;
  left: 94%;
}
.img13 {
  top: 9%;
  left: 15%;
}

.img14 {
  top: 15%;
  left: 82%;
}

.img15 {
  top: 15%;
  left: 92%;
}

.img16 {
  top: 15%;
  left: 75%;
}

.img17 {
  top: 26%;
  left: 80%;
}

.img18 {
  top: 13%;
  left: 2%;
}

.img19 {
  top: 0%;
  left: 20%;
}

.img20 {
  top: 30%;
  left: 20%;
}

.img21 {
  top: 15%;
  left: 20%;
}

.img22 {
  top: 35%;
  left: 76%;
}

.img23 {
  top: 35%;
  left: 6%;
}

.img24 {
  top: 38%;
  left: 13%;
}

.img25 {
  top: 41%;
  left: 20%;
}

.img26 {
  top: 30%;
  left: 0%;
}

.img27 {
  top: 43%;
  left: 0%;
}

.img28 {
  top: 43%;
  left: 90%;
}

.img29 {
  top: 47%;
  left: 6%;
}

.img30 {
  top: 34%;
  left: 95%;
}

.img31 {
  top: 54%;
  left: 90%;
}

.img32 {
  top: 47%;
  left: 80%;
}

.img33 {
  top: 57%;
  left: 77%;
}

.img34 {
  top: 60%;
  left: 84%;
}

.img35 {
  top: 50%;
  left: 15%;
}

.img36 {
  top: 50%;
  left: 95%;
}

.img37 {
  top: 63%;
  left: 95%;
}

.img38 {
  top: 55%;
  left: 0%;
}

.img39 {
  top: 70%;
  left: 90%;
}

.img40 {
  top: 58%;
  left: 10%;
}

.img41 {
  top: 62%;
  left: 17%;
}

.img42 {
  top: 70%;
  left: 79%;
}

.img43 {
  top: 75%;
  left: 85%;
}

.img44 {
  top: 64%;
  left: 5%;
}

.img45 {
  top: 80%;
  left: 78%;
}

.img46 {
  top: 70%;
  left: 12%;
}

.img47 {
  top: 78%;
  left: 92%;
}

.img48 {
  top: 78%;
  left: 2%;
}

.img49 {
  top: 75%;
  left: 20%;
}

.img50 {
  top: 79%;
  left: 10%;
}

.img51 {
  top: 87%;
  left: 87%;
}

.img52 {
  top: 87%;
  left: 7%;
}

.img53 {
  top: 90%;
  left: 78%;
}

.img54 {
  top: 87%;
  left: 18%;
}

.img55 {
  top: 90%;
  left: 95%;
}

.img56 {
  top: 90%;
  left: 1%;
}

.container1 {
  max-width: 736px;
}

.container2 {
  padding-bottom: 70px;
}

.container2 > *:not(.socials, .title) {
  max-width: 736px;
  margin-inline: auto;
}

h3.title {
  font-size: 70px;
  background-color: #000;

  /* margin-inline: auto; */
  text-align: center;
  padding-bottom: 25px;
  z-index: 10;
}

.img-holder {
  margin-bottom: 80px;
}

.text2 {
  font-size: 32px;
  margin-bottom: 43px;
}

.col1 {
  background: linear-gradient(
    to right,
    #d61f1f,
    #f18711,
    #ffd707,
    #27e53a,
    #1adfec,
    #2034e7,
    #6a2feb,
    #d528f1
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.col2 {
  color: #ff0000;
}

.col3 {
  color: #ffff00;
}

.col4 {
  color: #00ff00;
}

.ca {
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 30px;
  flex-wrap: wrap;
  border-block: 7px solid #fff;
}

.socials img {
  width: 90px;
}

/* img[alt="r"] {
  margin-right: 70px;
} */

button img {
  width: 70px;
}

@media (min-width: 375px) {
  .text2,
  .ca {
    padding-inline: 2rem;
  }
}

@media (min-width: 425px) {
  input {
    font-size: 35px;
  }
}

@media (min-width: 580px) {
  .banner {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 110px;
  }

  .input-holder {
    flex-direction: row;
  }

  h3.title {
    font-size: 100px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 120px;
  }

  .logo__img {
    width: 160px;
  }
  h3.title {
    font-size: 120px;
  }
}
